#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .show-list-button {
	position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 10000;
	width: 56px;
	height: 56px;
	background-color: #005BD5;
	background-image: url(./resources/hamburger.svg);
	background-size: 34px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .show-list-button:hover {
	background-color: #003780;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
	transition: background-color .5s, box-shadow .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .hide-list-button {
	position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 10000;
	width: 56px;
	height: 56px;
	background-color: #ffffff;
	background-image: url(./resources/close.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .hide-list-button:hover {
	background-color: #d0d0d0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
	transition: background-color .5s, box-shadow .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .user-list-dialog {
	position: absolute;
	right: 32px;
	bottom: 96px;
	width: 280px;
	height: 420px;	
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #BABABA;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	z-index: 20000;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .request-talking-button-disabled {
	position: absolute;
	left: 32px;
	bottom: 16px;
	right: 32px;
	height: 38px;
	background-color: #BABABA;
	border-radius: 4px;
	cursor: pointer;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .request-talking-button {
	position: absolute;
	left: 32px;
	bottom: 16px;
	right: 32px;
	height: 38px;
	background-color: #005bd5;
	border-radius: 4px;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .request-talking-button:hover {
	background-color: #003780;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .dialog-list-container {
	position: absolute;
	left: 12px;
	top: 24px;
	right: 8px;
	bottom: 78px;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table {
	border-collapse: separate;
	border-spacing: 12px 0px;
	width: 100%;
	table-layout: fixed;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-td {
	position: relative;
	height: 30px;
	background-color: #ffffff;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-hr {
	border: 0px;
    border-top: 2px solid #CCDEF7;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-text {
	position: absolute;
	left: 0;
	right: 32px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 14px;
	color: #000000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-text-disabled {
	position: absolute;
	left: 0;
	right: 32px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 14px;
	color: #bababa;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-text-in-room {
	position: absolute;
	left: 0;
	right: 45px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 14px;
	color: #000000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-talking-icon {
	position: absolute;
	right: 4px;
	width: 18px;
	height: 16px;
	top: 50%;
	transform: translate(0, -50%);
	background-image: url(./resources/on_talking.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-mute-icon {
	position: absolute;
	right: 6px;
	width: 14px;
	height: 14px;
	top: 50%;
	transform: translate(0, -50%);
	background-image: url(./resources/mic_off_list.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-share-display-icon {
	position: absolute;
	right: 5px;
	width: 16px;
	height: 16px;
	top: 50%;
	transform: translate(0, -50%);
	background-image: url(./resources/share_display_list.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-checking-icon {
	position: absolute;
	right: 8px;
	width: 10px;
	height: 6px;
	top: 50%;
	transform: translate(0, -50%);
	background-image: url(./resources/check_off.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .users-list-table-checked-icon {
	position: absolute;
	right: 8px;
	width: 10px;
	height: 6px;
	top: 50%;
	transform: translate(0, -50%);
	background-image: url(./resources/check_on.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .button-text-white {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .resize-dialog-bar-left {
	position: absolute;
	left: 0;
	width: 8px;
	height: 100%;
	cursor: ew-resize;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .resize-dialog-bar-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 8px;
	cursor: ns-resize;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .resize-dialog-bar-right {
	position: absolute;
	right: 0;
	width: 8px;
	height: 100%;
	cursor: ew-resize;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .resize-dialog-bar-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8px;
	cursor: ns-resize;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .resize-dialog-bar-topleft {
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 8px;
	cursor: nwse-resize;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .resize-dialog-bar-topright {
	position: absolute;
	right: 0;
	top: 0;
	width: 8px;
	height: 8px;
	cursor: nesw-resize;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .resize-dialog-bar-bottomright {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 8px;
	height: 8px;
	cursor: nwse-resize;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .resize-dialog-bar-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 8px;
	height: 8px;
	cursor: nesw-resize;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .alert-bg-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100000;
}

@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}	
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-start-talking-alert-surface {
	position: absolute;
	width: 680px;
	height: 158px;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	border-radius: 4px;
	opacity: 0;
	animation-name: fadein;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-start-talking-alert-text {
	position: absolute;
	left: 56px;
	top: 40px;
	font-size: 16px;
	color: #000000;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-start-talking-alert-cancel-button {
	position: absolute;
	left: 56px;
	bottom: 38px;
	width: 164px;
	height: 38px;
	background-color: #ffffff;
	border-radius: 4px;
	border: 2px solid #bababa;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-start-talking-alert-cancel-button:hover {
	background-color: #d0d0d0;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-start-talking-alert-ok-button {
	position: absolute;
	left: 244px;
	bottom: 38px;
	width: 164px;
	height: 38px;
	background-color: #005BD5;
	border-radius: 4px;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-start-talking-alert-ok-button:hover {
	background-color: #003780;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .button-text-dark-gray {
	position: absolute;
	left: 50%;
	top: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #5d5d5d;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .talk-screen-bg-mask {
	position: absolute;
	left: 100%;
	top: 100%;
	width: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 1);
	z-index: 30000;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .close-talk-button {
	position: absolute;
	left: 32px;
	bottom: 24px;
	width: 56px;
	height: 56px;
	background-color: #333333;
	background-image: url(./resources/close_talk.svg);
	background-size: 20px 16px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .close-talk-button:hover {
	background-color: #222222;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mic-off-button {
	position: absolute;
	left: 50%;
	bottom: 24px;
	width: 56px;
	height: 56px;
	transform: translate(-50%, 0) translate(-80px, 0);
	background-color: #333333;
	background-image: url(./resources/mic_on.svg);
	background-size: 16px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mic-off-button:hover {
	background-color: #222222;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mic-on-button {
	position: absolute;
	left: 50%;
	bottom: 24px;
	width: 56px;
	height: 56px;
	transform: translate(-50%, 0) translate(-80px, 0);
	background-color: #ff2747;
	background-image: url(./resources/mic_off.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mic-on-button:hover {
	background-color: #bc0001;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .share-display-button {
	position: absolute;
	left: 50%;
	bottom: 24px;
	width: 56px;
	height: 56px;
	transform: translate(-50%, 0);
	background-color: #333333;
	background-image: url(./resources/share_display.svg);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .share-display-button:hover {
	background-color: #222222;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .stop-share-display-button {
	position: absolute;
	left: 50%;
	bottom: 24px;
	width: 56px;
	height: 56px;
	transform: translate(-50%, 0);
	background-color: #005BD5;
	background-image: url(./resources/share_display.svg);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .stop-share-display-button:hover {
	background-color: #003780;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .hang-up-button {
	position: absolute;
	left: 50%;
	bottom: 24px;
	width: 56px;
	height: 56px;
	transform: translate(-50%, 0) translate(80px, 0);
	background-color: #ff2747;
	background-image: url(./resources/hang_up.svg);
	background-size: 21px 21px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .hang-up-button:hover {
	background-color: #bc0001;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .show-members-button {
	position: absolute;
	right: 32px;
	bottom: 24px;
	width: 56px;
	height: 56px;
	background-color: #333333;
	background-image: url(./resources/members.svg);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .show-members-button:hover {
	background-color: #222222;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .hide-members-button {
	position: absolute;
	right: 32px;
	bottom: 24px;
	width: 56px;
	height: 56px;
	background-color: #005BD5;
	background-image: url(./resources/members.svg);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .hide-members-button:hover {
	background-color: #003780;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .sharing-user-name-text-container {
    position: absolute;
	left: 38px;
	bottom: 104px;
	width: 128px;
	height: 30px;
	background-color: #333333;
    border-radius: 4px;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .sharing-user-name-text {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	color: #ffffff;
	font-size: 14px;
    text-overflow: ellipsis;
	white-space: nowrap;
    width: 100%;
    text-align: center;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .view-container-talk-screen {
	position: absolute;
	top: 32px;
	right: 32px;
	bottom: 96px;
	left: 32px;
	width: calc(100% - 32px - 32px);
	height: calc(100% - 32px - 96px);
	display: table;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .remote-videos-area-outer {
	height: 100%;
	display: table-cell;
    overflow: hidden;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .remote-videos-area {
	position: relative;
    width: 100%;
    height: 100%;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .remote-videos-area-child {
	position: absolute;
    width: 100%;
    height: 100%;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .remote-video-hidden {
    position: absolute;
	bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transform: translate(0, 100%);
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .remote-video-shown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .member-list-view-talk-screen {
	position: relative;
	width: 0;
	height: 100%;
	display: table-cell;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .member-list-view-talk-screen-inner {
	position: absolute;
	left: 8px;
    width: calc(100% - 8px);
	height: 100%;
	background-color: #ffffff;
	border-radius: 4px;
	display: table-cell;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .talking-palette {
	position: fixed;
	bottom: 32px;
	right: 32px;
	width: 168px;
	height: 56px;
	border-radius: 4px;
	border: 1px solid #BABABA;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	z-index: 20000;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .talking-palette-tools-container {
	position: absolute;
	left: 8px;
	right: 8px;
	top: 16px;
	bottom: 16px;
	border-collapse: separate;
    border-spacing: 8px 0;
	display: table;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mic-off-button-talking-palette {
	width: 24px;
	height: 24px;
	background-image: url(./resources/mic_on_palette.svg);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 1;
	display: table-cell;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mic-off-button-talking-palette:hover {
	opacity: .4;
	transition: opacity .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mic-on-button-talking-palette {
	width: 24px;
	height: 24px;
	background-image: url(./resources/mic_off_palette.svg);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 1;
	display: table-cell;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mic-on-button-talking-palette:hover {
	opacity: .4;
	transition: opacity .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .hung-up-button-talking-palette {
	width: 24px;
	height: 24px;
	background-image: url(./resources/hang_up_palette.svg);
	background-size: 21px 21px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 1;
	display: table-cell;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .hung-up-button-talking-palette:hover {
	opacity: .4;
	transition: opacity .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .maximize-button-talking-palette {
	width: 24px;
	height: 24px;
	background-image: url(./resources/maximize.svg);
	background-size: 21px 21px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 1;
	display: table-cell;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .maximize-button-talking-palette:hover {
	opacity: .4;
	transition: opacity .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .share-display-button-talking-palette {
	width: 24px;
	height: 24px;
	background-image: url(./resources/share_display_palette.svg);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 1;
	display: table-cell;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .share-display-button-talking-palette:hover {
	opacity: .4;
	transition: opacity .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .spacing-talking-palette {
	width: 42px;
	height: 24px;
	display: table-cell;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .add-member-button {
	position: absolute;
	left: 16px;
	bottom: 12px;
	right: 16px;
	height: 38px;
	background-color: #005bd5;
	background-image: url(./resources/plus.svg);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: left 36px center;
	border-radius: 4px;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .add-member-button:hover {
	background-color: #003780;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .icon-button-text {
	position: absolute;
	left: calc(50% + 8px);
	top: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-accept-talking-alert-surface {
	position: absolute;
	width: 680px;
	height: 166px;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	border-radius: 4px;
	opacity: 0;
	animation-name: fadein;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-accept-talking-alert-text {
	position: absolute;
	left: 56px;
	top: 40px;
	font-size: 16px;
	color: #000000;
}


#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-alert-optional-text-div {
    position: absolute; 
    left: 56px;
    right: 56px;
    top: 82px;
    font-size: 16px;
    color: #5D5D5D;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-alert-optional-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-accept-talking-alert-cancel-button {
	position: absolute;
	left: 56px;
	bottom: 38px;
	width: 164px;
	height: 38px;
	background-color: #FF2747;
	background-image: url(./resources/hang_up.svg);
	background-size: 21px 21px;
	background-repeat: no-repeat;
	background-position: left 27px center;
	border-radius: 4px;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-accept-talking-alert-cancel-button:hover {
	background-color: #bc0001;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-accept-talking-alert-ok-button {
	position: absolute;
	left: 244px;
	bottom: 38px;
	width: 164px;
	height: 38px;
	background-color: #005BD5;
	background-image: url(./resources/hang_on.svg);
	background-size: 21px 21px;
	background-repeat: no-repeat;
	background-position: left 44px center;
	border-radius: 4px;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-accept-talking-alert-ok-button:hover {
	background-color: #003780;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-stop-sharing-for-showing-talk-screen-alert-surface {
	position: absolute;
	width: 680px;
	height: 200px;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	border-radius: 4px;
	opacity: 0;
	animation-name: fadein;
	animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-stop-sharing-for-showing-talk-screen-alert-text {
	position: absolute;
	left: 56px;
	top: 40px;
	font-size: 16px;
	color: #000000;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-stop-sharing-for-showing-talk-screen-alert-cancel-button {
	position: absolute;
	left: 56px;
	bottom: 38px;
	width: 164px;
	height: 38px;
	background-color: #FF2747;
	border-radius: 4px;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-stop-sharing-for-showing-talk-screen-alert-cancel-button:hover {
	background-color: #bc0001;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-stop-sharing-for-showing-talk-screen-alert-ok-button {
	position: absolute;
	left: 244px;
	bottom: 38px;
	width: 164px;
	height: 38px;
	background-color: #005BD5;
	border-radius: 4px;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .ask-stop-sharing-for-showing-talk-screen-alert-ok-button:hover {
	background-color: #003780;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .window-caption {
	position: absolute;
	left: 16px;
	top: 14px;
	font-size: 16px;
	color: #5D5D5D;
	font-weight: bold;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .window-caption-padding {
	position: absolute;
	left: 48px;
	top: 14px;
	font-size: 16px;
	color: #5D5D5D;
	font-weight: bold;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .window-table-container {
	position: absolute;
	left: 12px;
	top: 48px;
	right: 8px;
	bottom: 78px;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .member-window-close-button {
    position: absolute;
    top: 12px;
    right: 16px;
	width: 24px;
	height: 24px;
	background-image: url(./resources/close.svg);
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 1;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .member-window-close-button:hover {
	opacity: .4;
	transition: opacity .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .member-window-back-button {
    position: absolute;
    top: 12px;
    left: 16px;
	width: 24px;
	height: 24px;
	background-image: url(./resources/back.svg);
	background-size: 17px 16px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 1;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .member-window-back-button:hover {
	opacity: .4;
	transition: opacity .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .request-joining-button-disabled {
	position: absolute;
	left: 16px;
	bottom: 12px;
	right: 16px;
	height: 38px;
	background-color: #BABABA;
	border-radius: 4px;
	cursor: pointer;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .request-joining-button {
	position: absolute;
	left: 16px;
	bottom: 12px;
	right: 16px;
	height: 38px;
	background-color: #005bd5;
	border-radius: 4px;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .request-joining-button:hover {
	background-color: #003780;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .mini-remote-videos-container {
    position: fixed;
    right: 20px;
    top: 116px;
    width: 256px;
    height: 144px;
    background-color: #1A1A1A;
    border-radius: 4px;
    z-index: 10000;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .stretch-screen-button {
    position: fixed;
    right: 20px;
    top: 116px;
    width: 32px;
    height: 144px;
    background-color: #333333;
    background-image: url(./resources/stretch_screen.svg);
	background-size: 20px 16px;
	background-repeat: no-repeat;
	background-position: center;
    border-radius: 4px 0px 0px 4px;
    z-index: 10000;
    cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .stretch-screen-button:hover {
	background-color: #222222;
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .maximize-screen-button {
	position: absolute;
	left: 68px;
	top: 44px;
	width: 56px;
	height: 56px;
	background-color: rgba(51, 51, 51, .7);
	background-image: url(./resources/maximize_screen.svg);
	background-size: 20px 16px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .maximize-screen-button:hover {
	background-color: rgba(34, 34, 34, .7);
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .minimize-screen-button {
	position: absolute;
	right: 68px;
	top: 44px;
	width: 56px;
	height: 56px;
	background-color: rgba(51, 51, 51, .7);
	background-image: url(./resources/minimize_screen.svg);
	background-size: 18px 16px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}
#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .minimize-screen-button:hover {
	background-color: rgba(34, 34, 34, .7);
	transition: background-color .5s;
}

#CBEE0ECE-42BD-475D-90F3-A9C2F2EC3191-realtime-talk .remote-videos-description {
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #BABABA;
	font-size: 18px;
	white-space: nowrap;
}